---
title: blog.css
---
{% include general.css %}

html, body {
	height: 100%;
}

div#banner-wrapper {
	//pointer-events: none;
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100%;
	//border: solid;
}

div#banner {
	display: block;
	width: 100%;
	height: 100%;
	
	position: fixed;
	z-index: -2;
	
	background: url(/assets/lorentz.png) no-repeat center center scroll;
	background-size: cover;
  	overflow: hidden;
	
	//border: solid;

}

div#tagline {
	position: fixed;
	bottom: 0%;
	z-index: -1;
	
	width: 100%;
	text-align: center;
	//border: solid;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 20px rgb(0, 255, 0);
	
	font-size: 2rem;
	font-family: "Cinzel";
}

div#content {
	width:100%;
	min-height: 100%; 
	margin: 0px auto 30px auto; 
	padding: 10px 0px;
	//border: solid;
	background: rgba(1, 5, 1, 1);
	color: rgba(181, 143, 32, 1);
}

div#content>h1 {
	text-align: center;
	font-family: "Metamorphous";
}

div#content div {
	padding: 0px 0px;
	margin: 20px auto 20px auto;
}

div#content div#blog-item {
	background: inherit;
	border: solid;
	max-width: 90%;
	
	margin-left: 10vw;
	margin-right: 10vw; 
	
	text-align: center;
	
}

div#blog-item div {
	//border: solid;
	margin: 1% 5%;
}

div#blog-item a {
	text-decoration: none;	
}

div#blog-item a:hover, div#blog-item a:focus {
	text-shadow: 0 0 20px rgba(181, 143, 32, 1);
}

div#blog-item div#item-title {
	font-family: "BioRhyme Expanded";
	font-weight: bold;
	font-size: 2rem;
	
	color: rgba(181, 143, 32, 1);
}

div#blog-excerpt {
	font-size: 1rem;
}
