/* CSS for navigation menu */
div.menu-div {
	position: fixed;
	
	top: 3%;
	left: 1%;
	
	padding: 0;
	margin: 0;
	
}


button.menu-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0px 0px 5px 0px;
	
	border: none;
	
	color : rgba(200,200,200, 1);
	background-color: rgba(30,30,30,0.8);

	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
				inset 0 0 20px rgba(10, 10, 10, 0.5);
}

button.menu-button:hover, button.menu-button:focus, button.menu-button:active {
	box-shadow: inset 0 0 20px rgba(10, 10, 10, 0.5),
				0 0 30px rgba(255, 255, 200, 0.7);
}

ul.menu-list {
	display: none;
	z-index: 1;	
	list-style: none;
	padding: 0px;
	

}

ul.menu-list li {
	font-size: 20px;
	text-align: center;
	padding: 0px;
	
	background-color: rgba(0,0,0,0.7);
	box-shadow: inset 0 0 10px rgba(200, 200, 200, 0.3),
		    inset 0 0 20px rgba(10, 10, 10, 0.5);
}

ul.menu-list>li>a {
	color: rgba(255, 255, 250, 1);
	text-decoration: none;
	padding: 10px 40px;
	display: block;
}

ul.menu-list li a:hover, ul.menu-list li a:focus {
	outline: 0;
	text-shadow: 0 0 20px rgba(255, 255, 250, 1);
}



/* CSS for Navigation buttons */

#next-button, #prev-button {
	pointer-events: auto;
	
	width: 70px;
	height: 70px;
	margin: auto;
	
	
	border: 0;
	border-radius: 50%;
	
	background-color: rgba(0, 0, 0, 0.1);

	position: fixed;
	bottom: 25%;
	
	
}

#next-button {
	outline: 0;
	right: 2%;
	
	animation-name: next-button-animate;
	animation-duration: 1s;
}

@keyframes next-button-animate {
	0% {transform: translate(0px,0px)}
	50% {transform: translate(-20px, 0px)}
	100% {transform: translate(0px, 0px)}
}

#prev-button {
	outline: 0;
	position: fixed;
	left: 2%;
	
	animation-name: prev-button-animate;
	animation-duration: 1s;
}

@keyframes prev-button-animate {
	0% {transform: translate(0px,0px)}
	50% {transform: translate(20px, 0px)}
	100% {transform: translate(0px, 0px)}
}

#next-button span, #prev-button span {
	color: rgba(200, 200, 200, 0.7);
	font-size: 30px;
	padding: 0px;
	margin: 25%;
	
	width: 50%;
	height: 50%;
	
	border-radius: 50%;
	transition: transform 0.5s;
}

#next-button span:hover, #next-button span:focus, #prev-button span:hover, #prev-button span:focus {
	outline: none;
	transform: scale(1.5, 1.5);
} 
