---
title: home_layout
---
<!DOCTYPE html>
<html lang=en>
	<head>
		<title>{{ page.title }}</title>
		
		<!-- Meta information -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheets and scripts -->
	
		<!-- Public CDN links -->
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Homemade Apple' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
		
		<!-- Private style sheets and scripts -->
		<link rel="stylesheet" href="/css/homepage.css">
		<script src="/js/homepage.js"></script>
		
	</head>

	<body>
			
			{{ content }}
					
	</body>
</html>
